{% extends 'main/base_study.html' %}

{% block study_title %}
    Curated Study 6
{% endblock %}

{% block study_content %}

<div class="row mb-0"><!-- /.row -->
    <div class="col-md-8">
        <h4 class="mb-4">Tracing Internees in French Indochina between 1929 and 1942</h4>
        <p>
            DPCL has gathered archival sources relating to European citizens resident in Indochina during World
            War II, including material recently released by the French Government, and analyzed them to produce
            searchable person instance datasets. The case study shows how individuals can be traced using such
            empirical data, leading to insights about internment policies in this territory.
        </p>
        <hr/>
        <p>
            A wave of repression and internment directed against citizens of allied nations in Indochina
            commenced at the beginning of 1941. The Japanese had built a formidable military presence in the
            territory following troubled negotiations with French authorities during the Summer of 1940.
            Following the assault by the Wehrmacht in May 1940 and subsequent defeat of France in Europe six
            weeks later, Japan increasingly sought concessions.
        </p>
        <p>
            After the attack on Pearl Harbor in December 1941, Japanese pressure on formerly neutral French
            Indochina increased still further and Japanese espionage manifested in measures against citizens
            of states then at war with the Empire of Japan. The French authorities in Indochina reluctantly
            acquiesced, and allied civilians were interned in the civilian internment camp in Mytho,
            approximately 70 kilometers outside Saigon, in a decommissioned military barracks. The treatment of
            inmates, however, was acceptable compared to other Civilian Assembly Centers in Asia—primarily
            because the French authorities sought to avoid provocation of the Allies, and they presented
            themselves as a neutral actor.
        </p>
        <hr/>
        <p>
            Approximately 188 American, British and Dutch citizens can be traced in Indochina immediately before
            these measures, but of those 28 were placed under house arrest and 48 under surveillance while 50
            citizens of Allied states were interned at Mytho (4). Archival material from the Mytho internment
            camp concerning the U.S. citizens was compiled by the Swiss Consul in Saigon, Hans Hirsbrunner,
            as “Les ressortissants américains confinés à Mytho” and was sent to the American delegation in early
            October 1943.
        </p>

        <h4 class="mb-4">Linking internationally-distributed archival sources and building empirical evidence</h4>
        <p>
            We can demonstrate the utility of a new data-set-driven methodology by comparing persons appearing
            in the NARA list of civilian PoWs with Hirsbrunner’s list of internees at Mytho.
        </p>
    </div> <!-- /col-8 -->
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/static/main/images/curated/study01.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="mb-3">Japanese influence on French internment policies in Indochina</h5>
                <div class="d-flex justify-content-between align-items-center">
                    <p class="text-thin">
                        Gabriel Corvissiano was identified as a civilian prisoner of war in U.S. National
                        Archive documents
                    </p>
                </div>
                <a class="button btn btn-sm btn-outline-secondary mt-2" href="https://dpc.ei-basel.hasdai.org/records/myxfz-q8s35">repository</a>
            </div>
        </div>
    </div> <!-- /col-4 -->
</div><!-- /.row -->

<div class="row mb-0">
    <div class="col-md-12">
        <div class="album py-2 bg-light ">
            <div class="container-card">
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-bottom" src="/static/main/images/curated/card_study1.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="mb-3">Gabriel Corvissiano</h5>
                                <p class="text-thin">
                                    Corvissiano and family members appear in records compiled by the Swiss Consul in Saigon
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a class="button btn btn-sm btn-outline-secondary mt-2" href="https://www.divisive-power.org/search/?name=Corvissiano&first_name=&organization=&profession=&location=&year=&repo_to_search=dpc&search=Search">  data set</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-bottom" src="/static/main/images/curated/card_study1a.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="mb-3">Charles Anthony</h5>
                                <p class="text-thin">
                                    Charles Anthony, Corvissiano's business partner, discovered in the Asia Directories
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a class="button btn btn-sm btn-outline-secondary mt-2" href="https://www.divisive-power.org/search/?name=Anthony&first_name=C&organization=&profession=&location=&year=&repo_to_search=dpc&search=Search">  data set</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.row -->
</div>

<div class="row"><!-- /.row -->
    <div class="col-md-12">
        <h5 class="mb-4" >Gabriel Corvissiano</h5>
        <hr/>
        <p>
            A Swiss-born American, Gabriel Denis Corvissiano was interned at Mytho and appears in Hirsbrunner's
            documentation and also in American civilian internee records at NARA (National Archives and Records
            Administration) in the U.S., which were based on Red Cross reports from the region and have been
            enriched and made available as JSON datasets by an existing Europe Institute Basel project
            (https://doi.org/10.5281/zenodo.3565392).
        </p>
        <p>
            DPCL’s analysis of Hirsbrunner's documentation confirms that Corvissiano was present at Mytho,
            together with his wife and children Leo and Gabrielle. Further research in French archives offered
            more insights into this individual and sheds light on the complicated relationship between French,
            Japanese and Allied citizens in Indochina. Gabriel Corvissiano was arrested, like most of his
            compatriots, soon after Japan entered World War II. However, he was treated differently because of
            his commercial activities: specifically, he was a partner of the French citizen Charles Edouard
            Anthony in the operation of a phosphor mining concession.
        </p>
        <hr/>
        <h5 class="mb-4" >Charles Anthony </h5>
        <p>
            Corvissiano's and Anthony's enterprise was in an economic sector of strategic interest to the
            Japanese, but since the French authorities sought to curb foreign influence in the economic sphere
            of the colony, the Japanese were only permitted to operate in cooperation with a French citizen.
            Japanese intelligence recognized the opportunity presented by Anthony’s circumstances, leading to
            the release of Corvissiano from detention on commercial grounds. However, the threat of re-internment
            remained: Corvissiano was reminded by the police of the ‘benevolence’ of Japanese officials, intending
            to persuade him to relinquish his commercial interest and make way for a Japanese partner in the
            business. He conceded his share of the concession in August 1942 and he and his family were soon
            after repatriated to Lourenço Marques.
        </p>
        <hr>
        <p>
            Charles Anthony can also be traced using the Asia Directories and Chronicles listings, which have
            been digitized and analyzed in another sub-project of The Divisive Power of Citizenship. We find 8
            appearances of an Anthony, C. E. in the Directories, in Haiphong between 1926 and 1939. The person
            instances, which (as well as appearances of others by the same surname) can be viewed interactively
            at <a class="link-secondary" href="https://asia-directories.org"> https://asia-directories.org</a>,
            list the occupation of this Anthony consistently as Commercial Manager or Commercial Director and,
            additionally, return either Société des Verrieries des d'Extreme-Orient or Société des
            d'Extreme-Orient or Société Francaise des Verreries d'Indo-Chine as employer. These results are
            inadequate alone to establish an unequivocal Charles Anthony person entity, however they are already
            strongly supportive of the residence of a single individual using this name in Haiphong between 1926
            and 1941, prior to his association with Corvissiano.
        </p>
        <hr>
        <h5 class="mb-4" >Reconstructing Internment Phenomena in Indochina </h5>
        <p>
            Reconstructing this narrative via a thread of historic person instance datasets greatly increases
            the rate at which such hypotheses can be tested, reducing recourse to physical archives, and reveals
            additional significant sources. In this example it has provided insight interactively into the
            politics of internment in Indochina perpetrated by the French authorities, as well as the challenges
            faced by Gabriel Corvissiano. This would have very laborious indeed to achieve using conventional
            methods. Corvissiano seems to be an exception: currently we can identify no other US citizen able
            to pursue his profession after internment had begun and subsequently repatriated. Corvissiano’s
            position gave him freedoms which no other US-American enjoyed. For his part Charles Edouard Anthony,
            probably grasped opportunities that political realities offered for his own benefit. On one hand the
            overwhelming Japanese military presence and increasing isolation of Indochina meant that Japan
            represented the only practical market for Anthony’s business. On the other hand, Japanese citizens
            were only allowed to participate in markets in partnership with French businesses. Anthony realized
            that continued collaboration with a partner from an Allied nation was untenable, and precipitated
            Corvissiano’s departure.
        </p>
        <hr>
    </div>
</div><!-- /.row -->


{% endblock %}

