{% load static %}

<div class="card mb-4 box-shadow">
    <img class="card-img-bottom" src="{{ image }}" alt="Card image cap">
    <div class="card-body">
      
        <h3 class="mb-3">
            <a class="text-dark" href="{{ title_link }}">{{ title }}</a>
        </h3>

        <p class="card-text">
            {{ contents }}
        </p>

        <div class="d-flex justify-content-between align-items-center">
            <div>
                <a href="{{ continue_link }}">
                    <button type="button" class="btn btn-sm btn-outline-secondary">{{ button_text }}</button>
                </a>
               
            </div>
        </div>
    </div>
</div>
