{% load static %}
{% load ndr_core_ui_elements %}
{% load ndr_core_ui_configtags %}

<!doctype html>
<html lang="en">
    <head>
        {% include 'ndr_core_ui/elements/header_tags.html' %}
        <link href="{% static 'ndr_core_ui/css/ndr_core_plain.css' %}" rel="stylesheet">
    </head>

    <body>
        <h1>{% config_value 'website_title' %}</h1>
        <h2>{% page_title request.resolver_match.url_name %}</h2>
        {% print_navigation %}

        {% block content %}
        {% endblock content %}

        <footer>
            {% block footer %}
            {% endblock %}
            <p class="text-muted"><br/>{% config_value 'footer_text' %}</p>
        </footer>

        {% include 'ndr_core_ui/elements/javascript.html' %}
    </body>
</html>
