{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load ndr_core_ui_elements %}

{% block content %}
    <form>
        {% crispy form %}
    </form>

    {% if result %}
        {% for result_line in result %}
            {% show_result_line result_line %}
        {% endfor %}


        <ul class="pagination justify-content-center">
            <li class="page-item {% if meta.page == 1 %}disabled{% endif %}"><span class="page-link">Previous</span></li>
            {% for pagelink in meta.pagelinks %}
                {% if pagelink.page == meta.page|slugify %}
                    <li class="page-item active">
                        <span class="page-link">
                            {{ pagelink.page }}
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                {% elif pagelink.page == '...'%}
                    <li class="page-item disabled"><span class="page-link">...</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{{ pagelink.url }}">{{ pagelink.page }}</a></li>
                {% endif %}
            {% endfor %}
            <li class="page-item {% if meta.page == meta.num_pages %}disabled{% endif %}"><span class="page-link">Next</span></li>
    </ul>

    {% endif %}

{% endblock %}