{% load static %}

<section class="pt-2 pb-2">
    <div class="container p-3 rounded">
        <div class="row">
            <div class="col-6">
                <h5 class="mb-3">Curated Studies</h5>
            </div>
            <div class="col-6 text-right ">
                <a class="btn btn-secondary btn-sm mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-secondary btn-sm mb-3" href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>

            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    {% include 'main/carousel_items/curated1_item.html' %}
                                </div>

                                <div class="col-md-3 mb-3">
                                    {% include 'main/carousel_items/curated2_item.html' %}
                                </div>

                                <div class="col-md-3 mb-3">
                                    {% include 'main/carousel_items/curated3_item.html' %}
                                </div>

                                <div class="col-md-3 mb-3">
                                    {% include 'main/carousel_items/curated4_item.html' %}
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    {% include 'main/carousel_items/curated5_item.html' %}
                                </div>

                                <div class="col-md-3 mb-3">
                                    {% include 'main/carousel_items/curated1_item.html' %}
                                </div>

                                <div class="col-md-3 mb-3">
                                    {% include 'main/carousel_items/curated2_item.html' %}
                                </div>

                                <div class="col-md-3 mb-3">
                                    {% include 'main/carousel_items/curated3_item.html' %}
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    {% include 'main/carousel_items/curated4_item.html' %}
                                </div>

                                <div class="col-md-3 mb-3">
                                    {% include 'main/carousel_items/curated5_item.html' %}
                                </div>

                                <div class="col-md-3 mb-3">
                                    {% include 'main/carousel_items/curated1_item.html' %}
                                </div>

                                <div class="col-md-3 mb-3">
                                    {% include 'main/carousel_items/curated2_item.html' %}
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    {% include 'main/carousel_items/curated3_item.html' %}
                                </div>

                                <div class="col-md-3 mb-3">
                                    {% include 'main/carousel_items/curated4_item.html' %}
                                </div>

                                <div class="col-md-3 mb-3">
                                    {% include 'main/carousel_items/curated5_item.html' %}
                                </div>

                                <div class="col-md-3 mb-3">
                                    {% include 'main/carousel_items/curated1_item.html' %}
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    {% include 'main/carousel_items/curated2_item.html' %}
                                </div>

                                <div class="col-md-3 mb-3">
                                    {% include 'main/carousel_items/curated3_item.html' %}
                                </div>

                                <div class="col-md-3 mb-3">
                                    {% include 'main/carousel_items/curated4_item.html' %}
                                </div>

                                <div class="col-md-3 mb-3">
                                    {% include 'main/carousel_items/curated5_item.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
