{% load static %}

<section class="pt-2 pb-2">
    <div class="container p-3 rounded">
        <div class="row">
            <div class="col-6">
                <h5 class="mb-3">Case Studies </h5>
            </div>
            <div class="col-6 text-right ">
                <a class="btn btn-secondary btn-sm mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-secondary btn-sm mb-3" href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>

            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img src="{% static 'main/images/contents/casestudy1.png' %}"  class="img-fluid">
                                        <div class="card-body">
                                            <a href="/p/curated1.html" class="stretched-link">
                                                <h4 class="card-title">Légions des combattants</h4>
                                            </a>
                                            <p class="card-text">
                                                This record relates to approximately 3,000 members of the french Union.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img src="{% static 'main/images/contents/casestudy2.png' %}"  class="img-fluid">
                                        <div class="card-body">
                                            <a href="curated2.html" class="stretched-link">
                                                <h4 class="card-title">The Nara List</h4>
                                            </a>
                                            <p class="card-text">List or Reports Of Recovered Personnel Sept 1945</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img src="{% static 'main/images/contents/casestudy3.png' %}"  class="img-fluid">
                                        <div class="card-body">
                                            <a href="curated3.html" class="stretched-link">
                                                <h4 class="card-title">Légions d'honneur</h4>
                                            </a>
                                            <p class="card-text">short description</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img src="{% static 'main/images/contents/casestudy4.png' %}" class="img-fluid">
                                        <div class="card-body">
                                            <a href="curated4.html" class="stretched-link">
                                                <h4 class="card-title">Electoral Lists</h4>
                                            </a>
                                            <p class="card-text">short description</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img src="{% static 'main/images/contents/casestudy1.png' %}"  class="img-fluid">
                                        <div class="card-body">
                                            <a href="/p/curated1.html" class="stretched-link">
                                                <h4 class="card-title">Légions des combattants</h4>
                                            </a>
                                            <p class="card-text">
                                                This record relates to approximately 3,000 members of the french Union.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img src="{% static 'main/images/contents/casestudy2.png' %}"  class="img-fluid">
                                        <div class="card-body">
                                            <a href="curated2.html" class="stretched-link">
                                                <h4 class="card-title">The Nara List</h4>
                                            </a>
                                            <p class="card-text">List or Reports Of Recovered Personnel Sept 1945</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img src="{% static 'main/images/contents/casestudy3.png' %}"  class="img-fluid">
                                        <div class="card-body">
                                            <a href="curated3.html" class="stretched-link">
                                                <h4 class="card-title">Légions d'honneur</h4>
                                            </a>
                                            <p class="card-text">short description</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <img src="{% static 'main/images/contents/casestudy4.png' %}" class="img-fluid">
                                        <div class="card-body">
                                            <a href="curated4.html" class="stretched-link">
                                                <h4 class="card-title">Electoral Lists</h4>
                                            </a>
                                            <p class="card-text">short description</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>