{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load ndr_core_ui_elements %}

<!-- Implement this block to show your page content -->
{% block content %}
    <!-- Jumbotron -->
    {% banner_small 'Contact Us' %}
    {% end_banner_small %}

 
    {% include 'ndr_core_api/elements/messages.html' %}
   <h5 class="pb-3 mb-3 border-bottom"> Fill in the form below to contact us with any queries.  </h5>  
    
    <div class="col-8">
        {% crispy form %}
    </div>


{% endblock %}