{% load ndr_core_ui_elements %}

{% banner 'Divisive Power of Citizenship and Loyality - the French case' %}
    <p class="lead my-3">
        This repository is an outcome of the Europa Institute Basel research program of the same name and provides
        unrestricted access to sub-collections from multiple archival sources, representing persons documented by
        authorities in South East Asian countries between 1920 and 1945.
    </p>
    <p class="lead mb-0"><a href="#" class="text-white font-italic">Continue reading...</a></p>
{% end_banner %}