{% extends 'main/base.html' %}
{% load ndr_core_ui_elements %}

{% block content %}

    <!-- Jumbotron -->
    {% banner 'Divisive Power of Citizenship and Loyality - the French case' %}
        <p class="lead my-3">
            This repository is an outcome of the Europa Institute Basel research program of the same name and provides
            unrestricted access to sub-collections from multiple archival sources, representing persons documented by
            authorities in South East Asian countries between 1920 and 1945.
        </p>
   
    {% end_banner %}

    <!-- Titled Text -->
    {% titled_text 'Divisive Power of Citizenship and Loyality - the French case' %}
        <p>
        This project is an outcome of the Europa Institute Basel <em>Divisive Power of Citizenship</em> research program, funded by Swiss National Science Foundation under grant 100011_184860/1. DPCL has gathered multiple archival sources internationally relating to European citizens resident in Indochina during World War II, including material recently released by the French Government, and analyzed them using novel digital methods. Unrestricted access to digitized pages and datasets representing persons documented by authorities in South East Asian countries between 1920 and 1945 is provided, including electoral and internment records. These datasets contain 'instances' of persons—often without accompanying information complete enough to identify individuals unequivocally—they are nevertheless official records providing precise data, and they have been designed to support automated discovery across multiple instances in order to build candidate individual person entities.
        </p>
    {% end_titled_text %}

    <div class="row">
        <div class="album py-2 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <!-- card -->
                        {% card 'Discover DPCL' 'contents/card_01.png' '/discover/' 'Browse archive source materials' '/discover/' %}
                    Click here to browse through all of the DPCL sub-collection records. This provides descriptions of the individual archive material and links to respective record in the projects's InvenioRDM repository, as well as its DOI and associated Zenodo record. You can also click on the thumbnail image to go straight to a IIIF browser for the individual document pages.
                        {% end_card %}
                    </div>

                    <div class="col-md-6">
                        <!-- card -->
                        {% card 'Curated Studies' 'contents/card_02.png' '/studies/' 'Go to curated studies' '/studies/' %}
                            The archive materials have already supported multiple investigations into the lives of specific 
                            individuals in Southeast Asia and events that befell them during this period, and several cases are 
                            described as curated studies via the link above. These studies illustrate the use of standards-based 
                            annotation techniques to link analysis and published datasets back to context in the original documents. 
                            At the current time 24,846 person instances supported by downloadable datasets and annotations have been developed by DPCL.
                        {% end_card %}
                    </div>
                </div> <!-- /.row -->
            </div>
        </div>
    </div>

    {% include 'main/carousel.html' %}

{% endblock %}
