
{% load static %}

    <div class="card">
        <img src="{% static 'main/images/contents/casestudy3.png' %}"  class="img-fluid">
        <div class="card-body">
            <a href="{% url 'main:study' 'curated3' %}" class="stretched-link">
                <h5 class="card-title">Camp d'internement en Indochine</h5>
            </a>
            <p class="card-text">
                Datasets concerning 36 individuals who were interned and information on the internment camps.
        </div>
    </div>
