{% load static %}
    <div class="card">
        <img src="{% static 'main/images/contents/casestudy2.png' %}"  class="img-fluid">
        <div class="card-body">
            <a href="{% url 'main:study' 'curated1' %}" class="stretched-link">
                <h5 class="card-title">Tracing Internees in French Indochina between 1929 and 1942</h5>
            </a>
            <p class="card-text">
                Traces two individuals to demonstrate usage of empirical data at scale, and the creation of historical narratives out of this information. 
            </p>
        </div>
    </div>
