{% load static %}

    <div class="card">
        <img src="{% static 'main/images/contents/casestudy4.png' %}"  class="img-fluid">
        <div class="card-body">
            <a href="{% url 'main:study' 'curated4' %}" class="stretched-link">
                <h5 class="card-title">Déportés et internés politiques ou résistants d'Indochine pour la guerre 1939 – 1945</h5>
            </a>
            <p class="card-text">
               Datasets contain the members of the commission and the applicants for pension and assistance with medical costs in relation to internment.
            </p>
        </div>
    </div>
