{% load static %}

    <div class="card">
        <img src="{% static 'main/images/contents/casestudy5.png' %}"  class="img-fluid">
        <div class="card-body">
            <a href="{% url 'main:study' 'curated5' %}" class="stretched-link">
                <h5 class="card-title">The Reports Of Recovered Personnel Sept 1945</h5>
            </a>
            <p class="card-text">
                Information about 4,784 internees released by U.S. personnel in September 1945.
            </p>
        </div>
    </div>
